{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
{{ if player.participant.treatment == 2}}
Part 4: wait for the mining to complete <br>
{{ else }}
Part 4: brain teasers <br>
{{ endif }}
(Round {{player.round_number}}/{{Constants.num_rounds}})
<p style="text-align: right; font-size: 13px;margin-top: 10px; margin-bottom: -15px;">Total earnings so far: {{player.participant.finalpayoff_ECU}} ECU</p>
<hr>
{% endblock %}

{% block styles %}
    <link href="{% static 'css/RegularPages.css' %}" rel="stylesheet">
{% endblock %}

{% block styles %}
    <link href="{% static 'css/progressbar.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<style>
    * {
      box-sizing: border-box;
    }
    p {
      font-size: 26px;
    }
    .otree-title {
      text-align:center
    }
    .otree-body {
      max-width:1100px
    }
    .img-container {
      float: left;
      width: 50%;
      padding: 5px;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .otree-timer {
        display: none;
    }
</style>
<style>
    * {
      box-sizing: border-box;
    }
    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
</style>
<style>
    .fig-row {
    font-size: 1rem;
    color: #404030;
    text-align: left;
    width: 100%;
    margin: 1.5rem auto 0 auto;
    padding: 0;
    }
    .fig1-2 { width: 48.25%; }
    .fig-col {
        margin: 0 0 0 2.5%;
        display:inline-block;
    }
    .fig-col:first-child { margin-left: 0; } /* remove left margin from first column */
</style>
<script>
    $(document).ready(function(){
      $("#BacktoTask").click(function() {
        document.getElementById('MiningProgress').style.display = 'none';
        document.getElementById('TaskBlock').style.display = 'block';
        document.getElementById('CheckProgress').style.display = 'block';
        document.getElementById('BacktoTask').style.display = 'none';
      });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('checkanswer');

    const handleClickOnce = () => {
        taskanswer();
        // Remove this event listener after the first click
        button.removeEventListener('click', handleClickOnce);
    };
    // Add the event listener
    button.addEventListener('click', handleClickOnce);
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 10) {
                $('.otree-timer').show();
            }
        });
    });
</script>
<script>
    function isElementVisible(element) {
        return element && element.offsetParent !== null;
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            const elem = document.getElementById('MiningProgress');
            if (isElementVisible(elem) && event.offset.totalSeconds === 1) {
                const button = document.getElementById('BacktoTask');
                button.click();
            }
        });
    });
</script>
<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
<script>
    let r_num = js_vars.roundnum;
    function taskquestion() {
        if (r_num == 1) {
            document.getElementById("Taskquestion").innerHTML += "What five-letter word becomes shorter when you add two letters to it?";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Role of Camels and Elephants</b>: In the 1850s and 1860s, animals played a crucial role in the transportation of goods and equipment across the rugged terrains of the Victorian goldfields. Among these were camels and, surprisingly, a few elephants. These animals were used due to their ability to carry heavy loads over long distances, especially in areas where horses and oxen struggled.";
        }
        if (r_num == 2) {
            document.getElementById("Taskquestion").innerHTML += "What has cities, but no houses; forests, but no trees; and water, but no fish?";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Role of Camels and Elephants</b>: In the 1850s and 1860s, animals played a crucial role in the transportation of goods and equipment across the rugged terrains of the Victorian goldfields. Among these were camels and, surprisingly, a few elephants. These animals were used due to their ability to carry heavy loads over long distances, especially in areas where horses and oxen struggled.";
        }
        if (r_num == 3) {
            document.getElementById("Taskquestion").innerHTML += "What do an island and the letter 't' have in common?";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Role of Camels and Elephants</b>: In the 1850s and 1860s, animals played a crucial role in the transportation of goods and equipment across the rugged terrains of the Victorian goldfields. Among these were camels and, surprisingly, a few elephants. These animals were used due to their ability to carry heavy loads over long distances, especially in areas where horses and oxen struggled.";
        }
        if (r_num == 4) {
            document.getElementById("Taskquestion").innerHTML += "Give me food, and I will live; give me water, and I will die. What am I?";
                    document.getElementById("goldtrivia").innerHTML = "<b>World's Richest Shallow Alluvial Goldfield</b>: Ballarat, during the peak of the Victorian gold rush, was considered the world's richest shallow alluvial goldfield. This richness was a significant factor in its rapid growth and development.";
        }
        if (r_num == 5) {
            document.getElementById("Taskquestion").innerHTML += "A man stands on one side of a river, his dog on the other side. The man calls his dog, who immediately crosses the river without getting wet and without using a bridge or a boat. How did the dog do it?";
                    document.getElementById("goldtrivia").innerHTML = "<b>World's Richest Shallow Alluvial Goldfield</b>: Ballarat, during the peak of the Victorian gold rush, was considered the world's richest shallow alluvial goldfield. This richness was a significant factor in its rapid growth and development.";
        }
        if (r_num == 6) {
            document.getElementById("Taskquestion").innerHTML += "Turn me on my side and I am everything. Cut me in half and I am nothing. What am I? ";
                    document.getElementById("goldtrivia").innerHTML = "<b>World's Richest Shallow Alluvial Goldfield</b>: Ballarat, during the peak of the Victorian gold rush, was considered the world's richest shallow alluvial goldfield. This richness was a significant factor in its rapid growth and development.";
        }
        if (r_num == 7) {
            document.getElementById("Taskquestion").innerHTML += "The more of this there is, the less you see. What is it?";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Hand of Faith</b>: The 'Hand of Faith' nugget, found in 1980 near Kingower, Victoria, by Kevin Hillier using a metal detector, is one of the largest gold nuggets ever found with a metal detector and weighed over 27 kilograms. It was sold to the Golden Nugget Casino in Las Vegas where it is currently on display.";
        }
        if (r_num == 8) {
            document.getElementById("Taskquestion").innerHTML += "How can 8 + 8 = 4?";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Hand of Faith</b>: The 'Hand of Faith' nugget, found in 1980 near Kingower, Victoria, by Kevin Hillier using a metal detector, is one of the largest gold nuggets ever found with a metal detector and weighed over 27 kilograms. It was sold to the Golden Nugget Casino in Las Vegas where it is currently on display.";
        }
        if (r_num == 9) {
            document.getElementById("Taskquestion").innerHTML += "What does this mean? I RIGHT I";
                    document.getElementById("goldtrivia").innerHTML = "<b>The Hand of Faith</b>: The 'Hand of Faith' nugget, found in 1980 near Kingower, Victoria, by Kevin Hillier using a metal detector, is one of the largest gold nuggets ever found with a metal detector and weighed over 27 kilograms. It was sold to the Golden Nugget Casino in Las Vegas where it is currently on display.";
        }
        if (r_num == 10) {
            document.getElementById("Taskquestion").innerHTML += "Samuel was out for a walk when it started to rain. He did not have an umbrella and he wasn't wearing a hat. His clothes were soaked, yet not a single hair on his head got wet. How could this happen?";
                    document.getElementById("goldtrivia").innerHTML = "<b>Modern Prospecting</b>: Even today, gold panning is a popular activity in Victoria. Hobbyists and prospectors can still find gold in rivers and streams in areas like Ballarat, Bendigo, and along the Golden Triangle—a region that has produced some of the world's largest gold nuggets.";
        }
        if (r_num == 11) {
            document.getElementById("Taskquestion").innerHTML += "What 4-letter word can be written forward, backward or upside down, and can still be read from left to right?";
                    document.getElementById("goldtrivia").innerHTML = "<b>Modern Prospecting</b>: Even today, gold panning is a popular activity in Victoria. Hobbyists and prospectors can still find gold in rivers and streams in areas like Ballarat, Bendigo, and along the Golden Triangle—a region that has produced some of the world's largest gold nuggets.";
        }
        if (r_num == 12) {
            document.getElementById("Taskquestion").innerHTML += "What is harder to catch the faster you run?";
                    document.getElementById("goldtrivia").innerHTML = "<b>Modern Prospecting</b>: Even today, gold panning is a popular activity in Victoria. Hobbyists and prospectors can still find gold in rivers and streams in areas like Ballarat, Bendigo, and along the Golden Triangle—a region that has produced some of the world's largest gold nuggets.";
        }
    }
</script>
<script>
    function initializePage() {
        taskquestion();
    }
</script>
<script>
    var globalVariable = new Date().getTime();
</script>

<b></b>

<!--<script>-->
<!--    var globalVariable = new Date().getTime();-->
<!--</script>-->

<body onload="initializePage()">
</body>

<!--<p id="demo1"></p>-->
<!--<p id="demo2"></p>-->
<!--<p id="demo3"></p>-->
<!--<p id="demo4"></p>-->
<!--<p id="demo5"></p>-->
    <input type="hidden" name="check_timing_teaser" id="check_timing_teaser" value = 0 />

    <div id="TaskBlock" style="display:block;">
    <p id="Taskquestion"><b>Question</b>: </p>
    <br><br>
    <p id="Taskanswer"></p>
    <br><br>
    <center>
        <button id="checkanswer" type="button" class="btn btn-success" style="display:block;">Check answer</button>
    </center>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <center>
        <p style="font-size: 20px">Interesting facts about gold mining in Australia</p>
        <hr style="width: 60%; margin-left: auto; margin-right: auto; margin-top: -12px;">
        <p style="width: 60%; text-align: left; font-size: 20px" id="goldtrivia"></p>
    </center>
    <script>
        // Define the function to execute
        function taskanswer() {
            let currentime = new Date().getTime();
            let timeGap =  (currentime - globalVariable)/1000;
            document.getElementById('check_timing_teaser').value = timeGap.toFixed(2);
            if (r_num == 1) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: Short";
            }
            if (r_num == 2) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: A map";
            }
            if (r_num == 3) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: They are both in the middle of water";
            }
            if (r_num == 4) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: Fire";
            }
            if (r_num == 5) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: The river was frozen";
            }
            if (r_num == 6) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: The number 8";
            }
            if (r_num == 7) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: Darkness";
            }
            if (r_num == 8) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: When you think in terms of time. 8 AM + 8 hours = 4 o’clock";
            }
            if (r_num == 9) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: Right between the eyes";
            }
            if (r_num == 10) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: He is bald!";
            }
            if (r_num == 11) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: noon";
            }
            if (r_num == 12) {
                document.getElementById("Taskanswer").innerHTML += "<b>Answer</b>: Your breath";
            }
        }
    </script>
    <br>
<br><br>
<!--    <button class="otree-btn-next btn btn-primary" style="float: right;">Next</button>-->
</div>

{{ if player.participant.treatment == 2}}
    <center id="MiningProgress" style="display:none;">
        <br>
        <br>
        <p>The mining is going well!</p>
        <p style="font-size: 13px">(Images for illustrative purposes only)</p>
        <br><br>
        <div class="row">
          <div class="column">
              <img style="text-align: center; display:none; width:90%; height:99%" id = "digging" src="{% static 'Miner/digging1.jpg' %}"/>
          </div>
          <div class="column">
              <div class="myBar1 label-center"></div>
          </div>
        </div>
        <br><br><br>
        <script>
            $(document).ready(function(){
            let clicked = false;
            let startTime, endTime, time, progress;
                $("#CheckProgress").click(function() {
                    document.getElementById('MiningProgress').style.display = 'block';
                    let r_num = js_vars.roundnum-1;
                    if (!clicked) {
                        let currentime = new Date().getTime();
                        let timeGap =  (currentime - globalVariable)/1000;
                        clicked = true;
                        document.getElementById('check_timing').value = timeGap.toFixed(2);
                    }
                    let image_percent = 88 + r_num;
                    var bar = new ldBar(".myBar1", {
                       "type": "fill",
                       "img": "{% static 'Miner/nugget2.png' %}",
                       "value": image_percent,
                       "fill-dir": "ltr",
                       "img-size": "500, 500"
                      });
                    document.getElementById('digging').style.display = 'block';
                    document.getElementById('TaskBlock').style.display = 'none';
                    document.getElementById('CheckProgress').style.display = 'none';
                    document.getElementById('BacktoTask').style.display = 'block';
                    document.getElementById('goldtrivia').style.display = 'block';
                    startTime = new Date().getTime();
                    window.scrollTo(0, 0);
                });
                let count = 0;
                let btn = document.getElementById('CheckProgress');
                btn.addEventListener("click", function () {
                    count++;
                    document.getElementById('num_checks').value = count;
                });
                let btn1 = document.getElementById('BacktoTask');
                const timebox = [0, 0];
                btn1.addEventListener("click", function () {
                    endTime = new Date().getTime();
                    time = endTime - startTime;
                    timebox.push(time);
                    let sum = 0;
                    timebox.forEach(num => {
                        sum += num;
                        });
                    document.getElementById('timeonimage').value = sum.toFixed(2)/1000;
                    });
            });
        </script>
    </center>
    <center>
            <br><br><br><br>
            <button id="CheckProgress" type="button" class="btn btn-success" style="display:block;">See how the miner is doing</button>
    </center>
    <center>
            <br>
            <button id="BacktoTask" type="button" class="btn btn-success" style="display:none;">Back to brain teaser</button>
    </center>
    <br><br>
    <input type="hidden" name="num_checks" id="num_checks" value = 0 />
    <input type="hidden" name="timeonimage" id="timeonimage" value = 0 />
<!--    <input type="hidden" name="timeleft" id="timeleft" value = 0 />-->
    <input type="hidden" name="check_timing" id="check_timing" value = 0 />
{{ else }}

{{ endif }}

{{ formfield_errors 'num_checks' }}

{% endblock %}
