{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 2
{% endblock %}

{% block styles %}
    <link href="{% static 'css/RegularPages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<hr>
<br>

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>Instructions</h3>
        <p>
            In this next section, you will see 12 short scenarios.
        </p>
        <p>
            For each scenario, read the context and complete the final sentence naturally,
            using the verb provided in brackets.
        </p>
    </div>
</div>

<br>
<br>

<button id="Next" style="float:right;" class="btn btn-primary">Next</button>
<br>
<p>
</p>

{% endblock %}